@font-face {
  font-family: "aeonik";
  src: url(./fonts/Aeonik/Aeonik-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "aeonik";
  src: url(./fonts/Aeonik/Aeonik-Regular.otf);
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

body,
html {
  font-family: "aeonik";
}

a {
  text-decoration: none;
  font-size: 18px;
}

p {
  font-weight: 400;
  font-size: 18px;
}

.titlebox {
  position: relative;
}
.titlebox h2 {
  text-align: center;
  font-size: 5vw;
  color: #003585;
}

.btn {
  padding: 18px 30px;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.t_center {
  text-align: center;
}

.y_btn {
  background-color: #FEBA02;
  border-radius: 100px;
}
.y_btn span {
  margin: 10px;
}

.herosection {
  background-color: #181818;
  overflow: hidden;
  position: relative;
}
.herosection .hero {
  max-width: 1200px;
  margin: auto;
  padding: 180px 0;
  position: relative;
  z-index: 1;
}
.herosection .hero h3 {
  text-align: center;
  color: white;
  font-size: 6vw;
}
.herosection .hero h3.stroked {
  -webkit-text-stroke: 1px #FEBA02;
  color: transparent;
}
.herosection .hero .earth-area {
  width: 1200px;
  height: 420px;
  height: 60%;
  border: 1px solid #646464;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  top: 50%;
  backface-visibility: hidden;
}
.herosection .hero .earth {
  width: 150px;
  height: 420px;
  transform: translateX(-50%) scaleX(3.3);
  left: 50%;
  position: absolute;
  top: 210px;
  z-index: 1;
  backface-visibility: hidden;
}
.herosection .hero .earth .earth-rotate {
  width: 100%;
  height: 100%;
  animation: earth 10s infinite linear;
  transform-origin: 50% 50%;
}
.herosection .hero .earth .earth-counter-rotate {
  width: 50px;
  height: 50px;
  animation: earth-rotate 10s infinite linear;
}
.herosection .hero .earth .earth-counter-rotate .earth-image {
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: absolute;
  left: -15px;
  top: -75px;
  font-size: 0;
  display: block;
  transform: scaleX(0.3);
  backface-visibility: hidden;
}

@keyframes earth {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
@keyframes earth-rotate {
  from {
    -webkit-transform: rotateZ(360deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
  }
}
#space {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.videosection {
  padding: 40px;
}
.videosection .introvideo {
  width: 100%;
  margin: auto;
}

.projects .titlebox {
  position: relative;
}
.projects .titlebox .y_btn {
  margin: 10px;
}
.projects .titlebox .rocket {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.projects .titlebox .rocket .innerrocket {
  position: absolute;
  right: -300px;
  bottom: -100px;
  transform: rotate(16deg);
}

.clients-box {
  background: #181818;
  padding-top: 300px;
  padding-bottom: 50px;
  margin-top: 50px;
  position: relative;
}
.clients-box .custom-shape-divider-top {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}
.clients-box .custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 300px;
}
.clients-box .custom-shape-divider-top svg .shape-fill {
  fill: #FFFFFF;
}
.clients-box .custom-shape-divider-top2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.clients-box .custom-shape-divider-top2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 300px;
}
.clients-box .custom-shape-divider-top2 svg .shape-fill {
  fill: #FEBA02;
}
.clients-box .astroimg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.clients-box .toplogo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 1100px;
  margin: auto;
  align-items: center;
  margin-bottom: 200px;
}
.clients-box .toplogo .l_box:nth-child(1), .clients-box .toplogo .l_box:nth-child(6) {
  margin-top: -200px;
}
.clients-box .toplogo .l_box:nth-child(2), .clients-box .toplogo .l_box:nth-child(5) {
  margin-top: -50px;
}
.clients-box .bottomlogo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 900px;
  margin: auto;
  align-items: center;
}
.clients-box .bottomlogo .l_box:nth-child(1), .clients-box .bottomlogo .l_box:nth-child(5) {
  margin-top: -200px;
}
.clients-box .bottomlogo .l_box:nth-child(2), .clients-box .bottomlogo .l_box:nth-child(4) {
  margin-top: -100px;
}

.dummy {
  height: 100vh;
}/*# sourceMappingURL=style.css.map */