@font-face {
    font-family: "aeonik";
    src: url(./fonts/Aeonik/Aeonik-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: "aeonik";
    src: url(./fonts/Aeonik/Aeonik-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: "aeonik";
    src: url(./fonts/Aeonik/Aeonik-Medium.otf);
    font-weight: 500;
}

$black: #181818;
$orange: #FEBA02;
$blue: #003585;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

body,
html {
    font-family: "aeonik";
}

::-webkit-scrollbar {
    width: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1.3vw;
}

p,
li,
a {
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 1.5em;
}

.titlebox {
    position: relative;

    h2 {
        font-size: 5vw;
        color: $blue;
    }
}

.btn {
    padding: 1vw 3vw;
    display: inline-block;
    font-size: 1.3vw;
    font-weight: 400;
    color: black;
}

.t_center {
    text-align: center;
}

.y_btn {
    background-color: $orange;
    border-radius: 10000px;

    span {
        margin: 10px;
    }
}

// topheader section style start 
.topheader {
    background-color: $black;
    padding: 1vw 1.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        a {
            img {
                height: 3vw;
            }
        }
    }

    .navmneu {
        display: flex;
        align-items: center;
        gap: 2vw;

        .nalink {
            list-style: none;

            a {
                color: white;
                position: relative;

                .navtext {
                    opacity: 1;
                    transition: all 0.3s linear;
                }

                .navico {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0);
                    transition: all 0.3s linear;
                }
            }

            &:hover {

                a {
                    .navico {
                        transform: translate(-50%, -50%) scale(1);
                    }

                    .navtext {
                        opacity: 0;
                    }
                }
            }
        }
    }

    .hamburger {
        display: none;

        i {
            color: white;
            font-size: 20px;
        }
    }
}

// topheader section style end 

// Home page styling ----------------------------------------------------------

// herosection style start
.herosection {
    background-color: $black;
    overflow: hidden;
    position: relative;

    .hero {
        // margin: auto;
        padding: 10vw 5vw;
        position: relative;
        z-index: 1;

        h3 {
            // text-align: center;
            color: white;
            font-size: 4.4vw;
            padding-right: 33vw;

            span {
                // -webkit-text-stroke: 1px $orange;
                color: $orange;
            }
        }

        .chand{
            position: absolute;
            right: 0;
            bottom: 0;
            width: 30vw;
        }

        .earth-area {
            width: 1200px;
            height: 420px;
            height: 60%;
            border: 1px solid #646464;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            top: 50%;
            backface-visibility: hidden;
        }

        .earth {
            width: 150px;
            height: 420px;
            transform: translateX(-50%) scaleX(3.3);
            left: 50%;
            position: absolute;
            top: 210px;
            z-index: 1;
            backface-visibility: hidden;

            .earth-rotate {
                width: 100%;
                height: 100%;
                animation: earth 10s infinite linear;
                transform-origin: 50% 50%;
            }

            .earth-counter-rotate {
                width: 50px;
                height: 50px;
                animation: earth-rotate 10s infinite linear;

                .earth-image {
                    background-color: white;
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                    position: absolute;
                    left: -15px;
                    top: -75px;
                    font-size: 0;
                    display: block;
                    transform: scaleX(0.3);
                    backface-visibility: hidden;
                }
            }
        }
    }
}

#space {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0
}

// herosection style end

// video section start 
.videosection {
    // background: $black;
    padding: 4vw;

    #video-container {
        position: relative;
    }

    .introvideo {
        width: 100%;
        margin: auto;
    }

    #play-pause-button {
        position: absolute;
        cursor: pointer;
        top: 50%;
        left: 50%;
        z-index: 3;
        background: $orange;
        width: 60px;
        height: 60px;
        display: grid;
        place-content: center;
        border-radius: 100%;
    }
}

// video section end


// projects section start 
.projects {
    padding-bottom: 3vw;
    .titlebox {
        position: relative;

        .y_btn {
            margin: 1vw;
        }

        .rocket {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;

            .innerrocket {
                // width: 10vw;
                position: absolute;
                right: -300px;
                bottom: -100px;
                transform: rotate(16deg);
            }
        }
    }
}

// projects section end

.projsec {
    display: flex;
    // display: none;
    // overflow-x: scroll;
    // width: 400vw;

    .singlepro {
        width: 100vw;
        height: 100vh;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        img {
            width: 100vw;
            height: 100vh;
        }

        .p_details {
            position: absolute;
            width: 100%;
            padding: 4vw;
            backdrop-filter: blur(4px);
            bottom: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                color: white;
                font-size: 5vw;
            }

        }

        .p_tags {
            position: absolute;
            top: 2vw;
            left: 2vw;
            display: flex;
            gap: 1vw;

            span {
                padding: .5vw 1.4vw;
                border: 1px solid white;
                background-color: white;
                color: black;
                font-size: 1.4vw;
                border-radius: 1000px;
            }
        }
    }

}

.projsecmobile{
    display: none;
}


// client section start 

.clients{
    padding-top: 5vw;
}

.clients-box {
    background: $black;
    padding-top: 300px;
    padding-bottom: 130px;
    margin-top: 50px;
    position: relative;

    .custom-shape-divider-top {
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: 1;
        // background-color: white;

        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 300px;

            .shape-fill {
                fill: #FFFFFF;
            }
        }


    }

    .custom-shape-divider-top2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;

        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 300px;

            .shape-fill {
                fill: $orange;
            }
        }
    }

    .astroimg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;

        svg {
            // height: 300px;
        }
    }

    .toplogo {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        max-width: 1100px;
        margin: auto;
        align-items: center;
        margin-bottom: 100px;

        .l_box {
            display: grid;
            place-content: center;
            height: 120px;
            position: relative;

            // &::before {
            //     content: "";
            //     position: absolute;
            //     width: 2px;
            //     height: 100%;
            //     background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
            // }

            &:nth-child(1)::before,
            &:nth-child(2)::before,
            &:nth-child(3)::before {
                content: "";
                position: absolute;
                width: 2px;
                height: 100%;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
                top: -30px;
            }

            &:nth-child(4)::after,
            &:nth-child(5)::after,
            &:nth-child(6)::after {
                content: "";
                position: absolute;
                width: 2px;
                height: 100%;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
                top: -30px;
                right: 0;
            }
        }

        .l_box:nth-child(1),
        .l_box:nth-child(6) {
            margin-top: -200px;
        }

        .l_box:nth-child(2),
        .l_box:nth-child(5) {
            margin-top: -50px;
        }

        .l_box:last-child::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 100%;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
            right: 0;
            top: -30px;
        }
    }

    .bottomlogo {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        max-width: 900px;
        margin: auto;
        align-items: center;

        .l_box {
            display: grid;
            place-content: center;
            height: 120px;
            position: relative;

            &:nth-child(1)::before,
            &:nth-child(2)::before,
            &:nth-child(3)::before {
                content: "";
                position: absolute;
                width: 2px;
                height: 100%;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
                top: -30px;
            }

            &:nth-child(3)::after,
            &:nth-child(4)::after,
            &:nth-child(5)::after {
                content: "";
                position: absolute;
                width: 2px;
                height: 100%;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
                top: -30px;
                right: 0;
            }


        }


        .l_box:nth-child(1),
        .l_box:nth-child(5) {
            margin-top: -200px;
        }

        .l_box:nth-child(2),
        .l_box:nth-child(4) {
            margin-top: -100px;
        }

        .l_box:last-child::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 100%;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
            right: 0;
            top: -30px;
        }
    }

    .custom-shape-divider-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;

        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 250px;

            .shape-fill {
                fill: #000C1F;
            }
        }
    }

}

// client section end
.mobileclient {
    display: none;

}

// usps section start 
.usps {
    background: url(./images/Universe_items.png) #000C1F;
    background-size: cover;
    padding: 4vw;

    .uspscontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .uspsleft {
            .titlebox {
                .sec-title {
                    margin-bottom: 1.2vw;
                    color: $orange;
                }

                p {
                    margin-bottom: 2vw;
                    color: white;
                    max-width: 70%;
                }
            }

            .astrs {
                svg {
                    width: 16vw;
                }
            }
        }

        .upsright {
            display: flex;
            justify-content: center;

            svg {
                width: 30vw;
            }
        }
    }
}

// usps section end 

// testimonial section start 
.testimonial {
    padding: 4vw;

    .testgrid {
        display: flex;
        align-items: center;
        max-width: 80%;
        margin: auto;

        .testimg {
            width: 30%;

            svg {
                width: 16vw;
            }
        }

        .swiper {
            width: 70%;
            height: 100%;

            .revbox {
                padding: 2vw;

                p {
                    // font-size: 26px;
                    line-height: 1.4em;
                }

                h3 {
                    font-size: 2vw;
                    color: $orange;
                    margin-top: 30px;
                }

            }

            .s_buttons {
                position: absolute;
                bottom: 0;
                right: 0;
                display: flex;
                gap: 1.5vw;
                background-color: white;

                .swiper-button-next,
                .swiper-button-prev {
                    position: static;
                    width: 3.8vw;
                    height: 3.8vw;
                    border: 2px solid $blue;
                    border-radius: 1000px;
                    display: grid;
                    place-content: center;
                    transition: all 0.3s linear;

                    &:hover {
                        width: 5.5vw;
                    }

                    &::after {
                        display: none;
                    }

                    i {
                        color: $orange;
                        // font-size: 20px;
                    }
                }
            }
        }
    }

}

// testimonial section end

// contact section start 
.contactsection {
    padding: 4vw;
    padding-top: 0;
    padding-bottom: 15vw;
    overflow-y: hidden;
    margin-top: 4vw;

    .contactbox {
        border-radius: 20px;
        background: url("./images/planets.png") $blue;
        background-size: cover;
        // background-blend-mode: darken;
        padding: 4vw;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 55vw;
            height: 55vw;
            border-radius: 100%;
            border: 2px solid #FFF;
            background: linear-gradient(0deg, #002152 0.09%, #004AB8 49.92%);
            box-shadow: 1px 9px 40px 0px rgba(0, 0, 0, 0.12);
            top: -30vw;
            left: 50%;
            transform: translateX(-50%);
        }

        .titlebox {
            max-width: 50vw;
            margin: auto;

            .sec-title {
                color: white;
                font-weight: 500;
            }
        }

        .bot_astr {
            display: flex;
            justify-content: center;
            margin-top: 10vw;
            margin-bottom: -15vw;

            img {
                width: 20vw;
                animation: astro 4s linear infinite alternate;
            }
        }
    }
}

// contact section end 


// Service page styling -------------------------------------------------------------------------------


// service hero section style start 
.servhero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./images/soverlay.webp);
    background-position: center center;
    background-size: cover;
    // height: 90vh;
    padding: 10vw 0;
    position: relative;
    overflow: hidden;

    h3 {
        text-align: center;
        color: white;
        font-size: 6vw;
        position: relative;
        z-index: 1;
        max-width: 50%;
        margin: auto;

        span {
            -webkit-text-stroke: 2px $orange;
            color: transparent;
        }
    }

    .hangingastro {
        position: absolute;
        top: -10px;
        left: 2vw;
        animation: hangingastro 3s ease-in-out infinite alternate;
        transform-origin: top;

        svg {
            width: 18vw;
        }
    }

    .halfmoon {
        position: absolute;
        right: 0;
        height: 90%;
    }

}

.approach {
    position: relative;

    .astrapp {
        position: absolute;
        width: 15vw;
        top: 2vw;
        right: 5vw;
        animation: astrochair 4s linear infinite alternate;
    }

    .titlebox {
        padding: 4vw;

        .sec_desc {
            max-width: 50vw;
            margin-top: 20px;
        }
    }

    .appr_grp {
        overflow: visible;
        margin-top: 5vw;
        position: relative;
        // transform: scale(1.1);
        // transform: scaleX(1.2);
        z-index: -1;

        .setcount {
            width: 50%;
            transform-origin: right;
            animation: set1 15s linear infinite normal;
            transform: rotate(135deg);
            position: absolute;
            bottom: 0;

            img {
                position: absolute;
                left: -40px;
                transform: rotate(-45deg);
                // width: 4vw;
                height: 4vw;
                z-index: 1;
            }

            .settext {
                position: absolute;
                padding: 1vw;
                background: url(./images/tframe.webp);
                background-size: cover;
                color: white;
                border-radius: 9px;
                transform: rotate(274deg);
                top: 7px;
                left: -10vw;
                padding: .5vw;

                p {
                    border: 1px solid white;
                    padding: 3px;
                    border: 1px solid #FFF;
                    border-radius: 9px;
                    background: rgba(255, 255, 255, 0.15);
                    backdrop-filter: blur(2px);
                    font-size: 1vw;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 3vw;
                    background-color: black;
                    left: 58%;
                    bottom: -88%;
                    z-index: 0;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-color: black;
                    left: 56.4%;
                    top: 102%;
                    z-index: 0;
                    border-radius: 100%;
                }
            }


        }

        .circle1 {
            width: 74vw;
            height: 37vw;
            border: 1px solid rgba(0, 0, 0, 0.062);
            border-radius: 999999px 999999px 0 0;
            position: relative;
            margin: auto;

            .settext{
                top: 15px;
                left: -11vw;
            }

        }

        .circle2 {
            width: 66vw;
            height: 33vw;
            border: 1px solid rgba(0, 0, 0, 0.062);
            border-radius: 999999px 999999px 0 0;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            .setcount {
                animation-delay: 5s;
            }

            .settext{
                top: 16px;
                left: -10vw;
            }   
        }

        .circle3 {
            width: 56vw;
            height: 28vw;
            border: 1px solid rgba(0, 0, 0, 0.062);
            border-radius: 999999px 999999px 0 0;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            .setcount {
                animation-delay: 3s;
            }

            .settext{
                top: 16px;
                left: -12vw;
            }
        }

        .circle4 {
            width: 44vw;
            height: 22vw;
            border: 1px solid rgba(0, 0, 0, 0.062);
            border-radius: 999999px 999999px 0 0;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            .setcount {
                animation-delay: 9s;
            }

            .settext{
                top: 7px;
                left: -12vw;
            }

        }

        .circle5 {
            width: 36vw;
            height: 18vw;
            border: 1px solid rgba(0, 0, 0, 0.062);
            border-radius: 999999px 999999px 0 0;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);


        }

        .circle6 {
            width: 34vw;
            height: 11vw;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            img {
                border-radius: 999999px 999999px 0 0;
                margin: auto;
                display: block;
                width: 101%;
                height: 203%;
            }

        }
    }
    .mapprgrp{
        display: none;
    }
}

.expertise {
    padding: 4vw;
    background: #000c1f url(./images/expbanner.webp);
    background-size: cover;

    .titlebox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;

        background: #000c1f url(./images/expbanner.webp);
        background-size: cover;

        .sec-title {
            color: white;
            display: flex;
            align-items: center;

            svg {
                width: 8vw;
            }
        }
    }

    .expsec {
        color: white;

        .singleexp {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 2vw 0;
            align-items: center;

            .expcont {
                .exsec {
                    margin-bottom: 25px;

                    h4 {
                        font-size: 2vw;
                        margin-bottom: 1vw;
                    }

                    .s_list {
                        li {
                            margin-bottom: 1.2vw;
                        }
                    }
                }
            }

            .expimg {
                img {
                    width: 80%;
                    margin: auto;
                }
            }
        }
    }
}

.processsec {
    padding: 4vw;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 3vw;

    .prleft {
        .titlebox {
            position: sticky;
            top: 0;
        }
        p{
            max-width: 470px;
        }
    }

    .prright {
        display: flex;

        .astline {
            width: 35%;
            position: relative;

            .aline {
                width: .3vw;
                height: 100%;
                background-color: #D9D9D9;
                position: relative;
                // z-index: 2;

            }

            .ltastr {
                position: absolute;
                top: -10%;
                left: -25%;
                z-index: 1;
                height: 100%;

                img {
                    width: 14vw;
                }
            }

        }

        .prtopics {
            width: 65%;

            h3 {
                font-size: 2vw;
                font-weight: 500;
                color: $black;
                padding: 3vw 0;
                position: relative;

                &::before {
                    // content: "";
                    position: absolute;
                    left: -16.4vw;
                    top: 50%;
                    width: 2vw;
                    height: 2vw;
                    background-color: #dadada;
                    border-radius: 100%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}



// About page style start ----------------------------------------------------------------------------------

.abthero {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    // background: url(./images/abtbg.webp);
    background: url(./images/abtbg.webp), linear-gradient(0deg, rgba(24, 24, 24, 1) 0%, rgba(7, 17, 49, 1) 100%);
    // background-color: #071131;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    padding: 4vw;
    // background-blend-mode: overlay;

    .leftabt {

        h3 {
            color: white;
            font-size: 6vw;
            position: relative;
            z-index: 1;

            &.stroked {
                -webkit-text-stroke: 1px $orange;
                color: transparent;
            }
        }
    }

    .rightabt {

        .imggrid {
            position: relative;

            .astronaut {
                // border: 1px solid red;
                animation: abt_ast 4s ease-in-out infinite alternate;

                svg {
                    width: 30vw;
                }
            }

            .laptop {
                position: absolute;
                width: 10vw;
                top: 40%;
                animation: abt_ast 4s ease-in-out infinite alternate;
            }

            .astbg {
                position: absolute;
                z-index: 2;
                animation: abt_bg 4s ease-in-out infinite alternate;

                svg {
                    width: 30vw;
                }
            }
        }

    }
}

.abtcontent {
    background: linear-gradient(0deg, rgba(24, 24, 24, 1) 50%, rgba(7, 17, 49, 1) 100%), url(./images/abtbg2.webp);
    background-size: cover;
    padding: 4vw;
    color: white;
    position: relative;

    .titlebox {
        margin: auto;
        backdrop-filter: blur(2px);

        .sec-title {
            color: $orange;

            span{
                color: white;
            }
        }
    }

    .skwpara {
        max-width: 60vw;
        margin: auto;

        p {
            marquee {
                text-align: justify;
                font-size: 2.3vw;
                line-height: 1.3em;
                transform: perspective(400px) rotateX(30deg);

                span{
                    color: $orange;
                    font-weight: 600;
                }
            }
        }
    }
}

.abt2 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    background: url(./images/about3.png), linear-gradient(180deg, rgba(24, 24, 24, 1) 0%, rgba(7, 17, 49, 1) 100%);
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    padding: 10vw 4vw;
    background-blend-mode: overlay;

    .leftabt2 {
        img {
            width: 20vw;
        }

    }

    .rightabt2 {
        h3 {
            color: white;
            font-size: 6vw;
        }


    }
}

.visionsec {
    padding: 4vw;

    .titlebox {
        display: flex;
        justify-content: space-between;

        img {
            width: 30vw;
        }
    }

    .v_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 2vw 0;
        gap: 1vw;

        .mission {
            text-align: right;
        }

        .mission,
        .vision {
            padding-top: 3vw;

            .m_icon {
                svg {
                    width: 3vw;
                }
            }

            .m_title {
                font-size: 2vw;
                margin: 1vw 0;
                color: $orange;
            }

            .m_para {
                color: #808080;
            }
        }

        .v_img {
            img {
                transform: rotate(-5deg);
                width: 100%;
                margin-top: 1.6vw;
            }
        }


    }
}

.numbersec {
    padding: 5vw;
    padding-top: 10vw;
    background: #D6E7FF;

    .numbgrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 3vw;
        grid-row-gap: 3vw;

        .titleg {
            grid-area: 1 / 1 / 2 / 3;
        }

        .firstbox {
            grid-area: 1 / 3 / 2 / 4;
        }

        .secondbox {
            grid-area: 2 / 1 / 3 / 2;
        }

        .thirdbox {
            grid-area: 2 / 2 / 3 / 3;
        }

        .fourthbox {
            grid-area: 2 / 3 / 3 / 4;
        }

        .n_box {
            background: #002152;
            color: white;
            padding: 2vw 3vw;
            border-radius: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1vw;
            position: relative;

            p {
                text-align: center;
            }

            h3 {
                color: $orange;
                font-size: 2.4vw;
                text-align: center;
            }

            h4 {
                font-size: 4vw;
                color: $orange;
                font-weight: 500;
            }

            &.titleg {
                svg {
                    height: 10vw;
                    position: absolute;
                    top: -55%;
                    left: 10%;
                }
            }

            .boxastro {
                height: 7vw;
                position: absolute;
                bottom: 0;
                left: -4%;

                .heartani {
                    animation: heartop 2s linear infinite alternate;
                }
            }
        }
    }
}



// case-study page stylinig-----------------------------------------------------------------------------

.casehero {
    padding: 6vw 4vw;
    display: flex;
    align-items: center;
    background: url(./images/csbg.webp);
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    border-bottom: 3px solid $orange;

    h3 {
        color: $orange;
        font-size: 6vw;
    }

    .readastro {
        width: 50vw;
        display: flex;
        justify-content: center;

        svg {
            width: 16vw;
            animation: astrochair 4s linear infinite alternate;
        }
    }
}

.cases {
    background-color: black;
    padding: 4vw;

    .s_case {
        margin-top: 5vw;

        .c_top {
            display: grid;
            grid-template-columns: 3fr 2fr;
            align-items: center;
            gap: 3vw;

            .cimg {

                img {
                    width: 100%;

                }
            }

            .ctext {
                h3 {
                    position: relative;
                    color: $orange;
                    font-size: 6vw;
                    margin-bottom: 3vw;
                    // font-weight: 500;
                    .ttop{
                        position: relative;
                        z-index: 1;
                    }

                    .tbottom{
                        position: absolute;
                        left: 0;
                        color: transparent;
                        -webkit-text-stroke: 1px white;
                        top: -4%;
                        z-index: 0;
                        opacity: 0.57;
                    }
                }

                .pstm {
                    h5 {
                        display: flex;
                        gap: 1vw;
                        align-items: center;
                        color: white;
                        font-size: 2vw;
                        font-weight: 400;
                        margin-bottom: 1.7vw;

                        span {
                            svg {
                                width: 3vw;
                            }
                        }
                    }

                    p {
                        color: white;
                    }
                }
            }
        }

        .c_bottom {

            .solnbox {
                display: grid;
                grid-template-columns: 3fr 2fr;
                padding: 2vw 0;
                gap: 3vw;

                .sstm {
                    h5 {
                        display: flex;
                        gap: 1vw;
                        align-items: center;
                        color: white;
                        font-size: 2vw;
                        font-weight: 400;
                        margin-bottom: 1.7vw;

                        span {
                            svg {
                                width: 3vw;
                            }
                        }
                    }

                    p {
                        color: white;
                    }

                    .btn {
                        margin-top: 1vw;
                    }
                }

                .stags {
                    padding-left: 8vw;

                    .sstag {
                        background-color: #2c2c2c;
                        padding: 1vw;
                        display: flex;
                        gap: 1vw;
                        border-radius: 10px;
                        margin-bottom: 1vw;
                        align-items: center;

                        svg {
                            width: 3vw;
                            height: 2vw;
                        }

                        p {
                            color: white;
                        }
                    }
                }
            }

        }

        &.ecase {
            .c_top {
                grid-template-columns: 2fr 3fr;
            }

            .c_bottom {
                .solnbox {
                    grid-template-columns: 2fr 3fr;


                    .stags {
                        padding-left: 0vw;
                        padding-right: 8vw;
                    }
                }
            }
        }
    }
}

// single case study page styling =========================================================================

.s_casehero {
    padding: 6vw 4vw;
    position: relative;

    .casetitle {
        h2 {
            font-size: 5vw;
            color: #004AB8;
            font-weight: 500;
            text-align: center;
        }
    }

    .casemeta {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
        margin-top: 3vw;

        .metabox {
            p {
                color: #616161;
            }

            h4 {
                color: $orange;
                font-size: 1.4vw;
            }
        }
    }

    img {
        position: absolute;

        &.imgtop {
            top: 6vw;
            left: 1vw;
            width: 10vw;
        }

        &.imgright {
            top: 4vw;
            right: 1vw;
            width: 10vw;
        }
    }
}

.singlecasecontent {
    position: relative;

    .casecontent {
        padding: 4vw 0;
        margin: auto;
        position: relative;

        .innerdiv {
            max-width: 80%;
            margin: auto;
        }

        .caseimg {
            position: relative;

            .cbanner {
                display: block;
                width: 100%;
                margin: auto;
                border-radius: 1rem;
            }

            .topstar {
                position: absolute;
                top: 40%;
                left: -7vw;
            }

            .bottomstar {
                width: 2vw;
                position: absolute;
                top: 70%;
                left: -7vw;
            }

        }

        .casegrid {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 3vw;
            padding: 2vw 0;

            .cimg {
                img {
                    width: 80%;
                }

            }

            .numberc {
                position: relative;

                h3 {
                    font-size: 8vw;
                    text-align: center;
                    -webkit-text-stroke: 1px $blue;
                    color: transparent;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 90%;
                    border-left: 2px dashed $blue;
                    left: 50%;
                    z-index: -1;
                }

                &.nodasline::after {
                    display: none;
                }

                .str {
                    position: absolute;
                    top: 45%;
                }
            }

            .rightccontent {
                .cttle {
                    color: #004AB8;
                    font-size: 2vw;
                    margin-bottom: 1vw;
                }

                p {
                    margin-bottom: 1vw;
                }

                .bulletlist {
                    padding-left: 4vw;

                    ul {
                        li {
                            color: #616161;
                            list-style-type: disc;
                        }
                    }

                    h4 {
                        font-size: 1.6vw;
                        color: $orange;
                        position: relative;
                        margin-bottom: 0.44vw;

                        &::before {
                            content: "";
                            width: 3.5vw;
                            height: 2vw;
                            position: absolute;
                            left: -4vw;
                            top: 0;
                            background: url(./images/icons/rbullet.svg);
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }

                    p {
                        color: #616161;
                        position: relative;
                    }

                    &.starlist {
                        p::before {
                            content: "";
                            position: absolute;
                            left: -3vw;
                            top: 0.1vw;
                            width: 2vw;
                            height: 2vw;
                            background: url(./images/casestudy/bicon.svg);
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }

        }
    }

    .grp1 {
        position: absolute;
        left: 0;
        top: 20vw;
        width: 4vw;
    }

    .grp2 {
        position: absolute;
        right: 0;
        top: 70vw;
        width: 4vw;
    }

    .grp3 {
        position: absolute;
        left: 0;
        top: 180vw;
        width: 5vw;
    }

    .grp4 {
        position: absolute;
        right: 2vw;
        top: 230vw;
        width: 5vw;
    }
}



// contact page styling=====================================================================================

.contacthero {
    padding: 6vw 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
        color: $blue;
        font-size: 3vw;
    }

    .ctb {
        width: 50vw;
        display: flex;
        justify-content: center;

        img {
            width: 100%;
        }
    }
}

.formsection {
    padding: 4vw 20vw;
    background: url(./images/formbg.webp);
    background-size: cover;

    .titlebox {
        h2 {
            color: $orange;
        }
    }

    .c_form {
        margin-top: 4vw;

        form {
            color: white;

            p {
                line-height: 3em;
            }

            input {
                background: none;
                outline: none;
                border: none;
                color: white;
                font-weight: 400;
                font-size: 1.3vw;
                line-height: 1.5em;
                text-align: center;
                border-bottom: 1px dashed white;
            }

            .selectfield {
                background-color: rgba(255, 255, 255, 0.10);
                padding: .5vw 1vw;
                border-radius: 20000px;
                margin: 0 5px;
                user-select: none;
                position: relative;

                input {
                    display: none;

                    &:checked~.c_box::after {
                        background-color: white;
                    }
                }

                .c_box {
                    width: 1.2vw;
                    height: 1.2vw;
                    border: 1px solid white;
                    border-radius: 100%;
                    display: inline-block;
                    margin-left: .5vw;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        width: .6vw;
                        height: .6vw;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 100%;
                    }

                }
            }

            textarea {
                background: none;
                outline: none;
                border: none;
                color: white;
                font-weight: 400;
                font-size: 1.3vw;
                line-height: 1.5em;
                border-bottom: 1px dashed white;
                width: 100%;
                resize: none;
            }

            .agreement {
                display: flex;
                justify-content: center;
                align-items: center;

                .selectfield {
                    background-color: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row-reverse;
                    gap: 10px;

                    .c_box {
                        border-radius: 5px;

                        &::after {
                            border-radius: 1px;
                        }
                    }
                }
            }

            .submit {
                display: flex;
                justify-content: center;
                margin-top: 2vw;

                button {
                    border: none;
                    outline: none;
                    margin: auto;
                    cursor: pointer;
                }
            }
        }
    }

}

.c_details {
    padding: 4vw;

    .s_detail {
        margin: 2vw 0;
        display: flex;
        justify-content: space-between;

        .pright {
            text-align: right;
        }
    }

    .hr {
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, rgba(133, 133, 133, 0.00) 0%, #858585 100%);
    }

}










// footer style start
footer {
    padding: 4vw;
    padding-bottom: 0;

    .socialbar {
        padding: 20px;

        .s_icons {
            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
            gap: 9vw;

            .sicon {
                color: $orange;
                font-size: 2.5vw;
            }
        }
    }

    .bottom_footer {
        display: flex;
        margin-top: 30px;
        position: relative;
        padding-bottom: 20px;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background: linear-gradient(270deg, rgba(24, 24, 24, 0.00) 0%, #181818 51.1%, rgba(0, 0, 0, 0.00) 100%);
            bottom: 0;
        }

        .compinfo {
            width: 50%;
            padding: 2vw;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                right: 0;
                background: linear-gradient(180deg, #181818 0%, rgba(24, 24, 24, 0.00) 110.94%);
            }

            .f_logo {
                width: 20vw;
            }
        }

        .f_links {
            width: 50%;
            display: flex;
            padding: 2vw;

            .f_serv {
                padding: 0 20px;

                h3 {
                    color: $blue;
                    font-size: 1.5vw;
                    margin-bottom: 1vw;
                    // font-weight: 400;
                }

                ul {
                    list-style: none;

                    li {
                        margin-bottom: 10px;

                        a {
                            color: #4D4D4D;
                        }
                    }
                }
            }
        }
    }

    .c_footer {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            display: flex;
            gap: 30px;
            list-style: none;
            display: none;

            li a {
                color: #4D4D4D;
            }
        }
    }
}

// footer style end



// Media queries

@media only screen and (max-width: 900px) {

    .topheader {
        position: relative;

        .logo {
            a {
                img {
                    height: 7vw;
                }
            }
        }

        .navmneu {
            display: none;
            position: absolute;
            width: 100%;
            flex-direction: column;
            left: 0;
            min-height: calc(100vh - 70px);
            padding: 40px 0;
            background-color: black;
            top: 10vw;
            z-index: 99;
            justify-content: center;

            .nalink {
                list-style: none;

                a {
                    color: white;
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .navtext {
                        opacity: 1;
                        transition: all 0.3s linear;
                        font-size: 20px;
                    }

                    .navico {
                        position: static;
                        transform: none;
                    }
                }

                &:hover {

                    a {
                        .navico {
                            transform: none;
                        }

                        .navtext {
                            opacity: 1;
                        }
                    }
                }
            }

            &.navopen {
                display: flex;
            }
        }

        .hamburger {
            display: block;
        }
    }
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .titlebox h2 {
        font-size: 23px;
    }

    p,
    li,
    a,
    .btn {
        font-size: 16px;
    }

    .projects .titlebox .rocket {
        display: none;
    }

    .clients {
        display: none;
    }

    .mobileclient {
        display: block;
        padding: 4vw;
        background-color: black;

        .titlebox {
            .sec-title {
                color: white;
            }
        }

        .logoswiper {
            margin: 3vw 0;

            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100px;
            }

            .swiper-pagination {
                display: none;
            }
        }
    }

    .usps .uspscontainer{
        grid-template-columns: 1fr;
    }

    .testimonial .testgrid .testimg{
        display: none;
    }
    .testimonial .testgrid .swiper{
        width: 100%;
    }

    .testimonial .testgrid .swiper .s_buttons .swiper-button-next, .testimonial .testgrid .swiper .s_buttons .swiper-button-prev{
        width: 25px;
        height: 20px;
    }

    .testimonial .testgrid .swiper .s_buttons .swiper-button-next i, .testimonial .testgrid .swiper .s_buttons .swiper-button-prev i{
        font-size: 15px;
    }

    .testimonial .testgrid .swiper .revbox h3{
        font-size: 20px;
    }

    .projsec{
        display: none;
    }
    .pin-spacer{
        display: none !important;
    }

    .projsecmobile {
        display: flex;
        flex-direction: column;
    
        .singlepro {
            width: 100vw;
            position: relative;
    
            img {
                width: 100vw;
                height: auto;
            }
    
            .p_details {
                position: absolute;
                width: 100%;
                padding: 4vw;
                backdrop-filter: blur(4px);
                bottom: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                h3 {
                    color: white;
                    font-size: 5vw;
                }
    
            }
    
            .p_tags {
                position: absolute;
                top: 2vw;
                left: 2vw;
                display: flex;
                gap: 1vw;
    
                span {
                    padding: .5vw 1.4vw;
                    border: 1px solid white;
                    background-color: white;
                    color: black;
                    font-size: 1.4vw;
                    border-radius: 1000px;
                }
            }
        }
    
    }

    // contact section 
    .contactsection .contactbox {

        .titlebox {
            .sec-title {
                margin-bottom: 20px;
            }
        }

        &::before {
            width: 63vw;
            height: 55vw;
        }
    }

    .numbersec .numbgrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .titleg {
            grid-area: 1 / 1 / 2 / 3;
        }

        .firstbox {
            grid-area: 2 / 1 / 3 / 2;
        }

        .secondbox {
            grid-area: 2 / 2 / 3 / 3;
        }

        .thirdbox {
            grid-area: 3 / 1 / 4 / 2;
        }

        .fourthbox {
            grid-area: 3 / 2 / 4 / 3;
        }

        .n_box {

            h4,
            h3 {
                font-size: 25px;
            }

            .boxastro {
                position: static;
                height: 12vw;
            }

            &.titleg svg {
                position: static;
            }
        }
    }

    // footer 
    footer .bottom_footer {
        flex-direction: column;

        .compinfo {
            width: 100%;

            &::after {
                display: none;
            }
        }

        .f_links {
            flex-direction: column;
            width: 100%;

            .f_serv {
                padding: 10px 0;

                h3 {
                    font-size: 20px;
                }
            }
        }
    }

    .c_footer {
        flex-direction: column-reverse;
        padding: 0px !important;
    }

    // about page responsive 

    .visionsec .v_content {
        display: flex;
        flex-direction: column;

        .v_img {
            display: none;
        }

        .mission {
            text-align: left;
        }
    }

    .numbersec .numberboxes {
        grid-template-columns: repeat(2, 1fr);

        .n_box {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
                align-self: auto;

                br {
                    display: none;
                }
            }

            h3 {
                font-size: 30px;
                -webkit-text-stroke: 1px $orange;
            }
        }
    }

    .visionsec .v_content .mission .m_title,
    .visionsec .v_content .vision .m_title {
        font-size: 22px;
    }

    .visionsec .v_content .mission .m_icon svg,
    .visionsec .v_content .vision .m_icon svg {
        width: 22px;
    }

    // service page 

    .expertise .titlebox {
        flex-direction: column;
        align-items: self-start;
        gap: 20px;
    }

    .approach .titlebox .sec_desc {
        max-width: 100vw;
    }

    .expertise .expsec .singleexp {
        display: flex;
        flex-direction: column;

        &:nth-child(odd) {
            flex-direction: column-reverse;
        }
    }

    .expertise .expsec .singleexp .expcont .exsec h4 {
        font-size: 22px;
    }

    .processsec {
        grid-template-columns: 1fr;
    }

    .processsec .prright .astline {
        display: none;
    }

    .processsec .prright .prtopics{
        width: 100%;
    }

    .processsec .prright .prtopics h3 {
        font-size: 22px;
    }


    // case study page responsive

    .cases .s_case .c_top .ctext .pstm h5,
    .cases .s_case .c_bottom .solnbox .sstm h5 {
        font-size: 20px;
    }

    .cases .s_case .c_top {
        display: flex;
        flex-direction: column;
    }

    .cases .s_case.ecase .c_top {
        flex-direction: column-reverse;
    }

    .cases .s_case .c_bottom .solnbox {
        display: flex;
        flex-direction: column;
    }

    .cases .s_case.ecase .c_bottom .solnbox {
        flex-direction: column-reverse;
    }

    .cases .s_case .c_bottom .solnbox .stags {
        padding: 0;
        display: flex;
        gap: 3vw;
        flex-wrap: wrap;
    }

    .s_casehero .casemeta {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .s_casehero .casemeta .metabox h4 {
        font-size: 20px;
    }

    .singlecasecontent .casecontent .casegrid {
        display: flex;
        flex-direction: column;
    }

    .singlecasecontent .casecontent .casegrid .numberc::after {
        display: none;
    }

    .singlecasecontent .casecontent .casegrid .cimg img {
        width: 200px;
    }

    .singlecasecontent .casecontent .casegrid .rightccontent .cttle {
        font-size: 30px;
    }

    .singlecasecontent .casecontent .casegrid .numberc h3 {
        font-size: 60px;
    }

    .singlecasecontent .casecontent .casegrid .rightccontent .bulletlist h4 {
        font-size: 20px;
    }

    .singlecasecontent .casecontent .casegrid .rightccontent .bulletlist {
        padding-left: 20px;
    }

    .singlecasecontent .casecontent .casegrid .rightccontent .bulletlist h4::before {
        left: -30px;
        width: 27px;
        top: 6px;
        height: 20px;
    }

    .singlecasecontent .casecontent .casegrid .rightccontent .bulletlist.starlist p::before{
        left: -20px;
        top: 8px;
        width: 13px;
        height: 13px;
    }

    .appr_grp{
        display: none;
    }

    .mapprgrp{
        display: block !important;

        ul{
            padding-left: 20px;
        }

        li{
            margin-bottom: 5px;
            span{
                display: inline-block;
                color: white;
                padding: 10px;
                background: url(./images/tframe.webp);
                border-radius: 10px;
            }
        }
    }
}











// keyframes start

@keyframes earth {
    from {
        -webkit-transform: rotateZ(0deg);
    }

    to {
        -webkit-transform: rotateZ(360deg);
    }
}


@keyframes earth-rotate {
    from {
        -webkit-transform: rotateZ(360deg);
    }

    to {
        -webkit-transform: rotateZ(0deg);
    }
}

@keyframes astro {
    0% {
        transform: translate(-30px, -30px);
    }

    100% {
        transform: translate(30px, 30px);
    }
}

@keyframes hangingastro {
    0% {
        transform: rotate(-20deg);

    }

    100% {
        transform: rotate(10deg);
    }
}

@keyframes set1 {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(185deg);
    }
}

@keyframes set2 {
    0% {
        transform: rotate(185deg);

    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes vrotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes abt_ast {
    0% {
        transform: translate(1vw, -1vw);
    }

    100% {
        transform: translate(-1vw, 1vw);
    }
}

@keyframes abt_bg {
    0% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

@keyframes heartop {
    0% {
        transform: translateY(5px);
    }
}

@keyframes astrochair {
    0% {
        transform: translateY(-2vw);
    }

    100% {
        transform: translateY(2vw);
    }
}


// keyframes end 