@font-face {
    font-family: "aeonik";
    src: url(./fonts/Aeonik/Aeonik-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: "aeonik";
    src: url(./fonts/Aeonik/Aeonik-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: "aeonik";
    src: url(./fonts/Aeonik/Aeonik-Medium.otf);
    font-weight: 500;
}

$black: #181818;
$orange: #FEBA02;
$blue: #003585;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

body,
html {
    font-family: "aeonik";
}

::-webkit-scrollbar {
    width: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
}

p,
li,
a {
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 1.5em;
}

.titlebox {
    position: relative;

    h2 {
        font-size: 5vw;
        color: $blue;
    }
}

.btn {
    padding: 18px 30px;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.t_center {
    text-align: center;
}

.y_btn {
    background-color: $orange;
    border-radius: 100px;

    span {
        margin: 10px;
    }
}

// topheader section style start 
.topheader {
    background-color: $black;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        a {
            img {
                height: 56px;
            }
        }
    }

    .navmneu {
        display: flex;
        align-items: center;
        gap: 40px;

        .nalink {
            list-style: none;

            a {
                color: white;
                position: relative;

                .navtext {
                    opacity: 1;
                    transition: all 0.3s linear;
                }

                .navico {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0);
                    transition: all 0.3s linear;
                }
            }

            &:hover {

                a {
                    .navico {
                        transform: translate(-50%, -50%) scale(1);
                    }

                    .navtext {
                        opacity: 0;
                    }
                }
            }
        }
    }

    .hamburger {
        display: none;

        i {
            color: white;
            font-size: 25px;
        }
    }
}

// topheader section style end 

// Home page styling ----------------------------------------------------------

// herosection style start
.herosection {
    background-color: $black;
    overflow: hidden;
    position: relative;

    .hero {
        max-width: 1200px;
        margin: auto;
        padding: 180px 0;
        position: relative;
        z-index: 1;

        h3 {
            text-align: center;
            color: white;
            font-size: 6vw;

            &.stroked {
                -webkit-text-stroke: 1px $orange;
                color: transparent;
            }
        }

        .earth-area {
            width: 1200px;
            height: 420px;
            height: 60%;
            border: 1px solid #646464;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            top: 50%;
            backface-visibility: hidden;
        }

        .earth {
            width: 150px;
            height: 420px;
            transform: translateX(-50%) scaleX(3.3);
            left: 50%;
            position: absolute;
            top: 210px;
            z-index: 1;
            backface-visibility: hidden;

            .earth-rotate {
                width: 100%;
                height: 100%;
                animation: earth 10s infinite linear;
                transform-origin: 50% 50%;
            }

            .earth-counter-rotate {
                width: 50px;
                height: 50px;
                animation: earth-rotate 10s infinite linear;

                .earth-image {
                    background-color: white;
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                    position: absolute;
                    left: -15px;
                    top: -75px;
                    font-size: 0;
                    display: block;
                    transform: scaleX(0.3);
                    backface-visibility: hidden;
                }
            }
        }
    }
}

#space {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0
}

// herosection style end

// video section start 
.videosection {
    // background: $black;
    padding: 40px;

    #video-container {
        position: relative;
    }

    .introvideo {
        width: 100%;
        margin: auto;
    }

    #play-pause-button {
        position: absolute;
        cursor: pointer;
        top: 50%;
        left: 50%;
        z-index: 3;
        background: $orange;
        width: 60px;
        height: 60px;
        display: grid;
        place-content: center;
        border-radius: 100%;
    }
}

// video section end


// projects section start 
.projects {
    .titlebox {
        position: relative;

        .y_btn {
            margin: 10px;
        }

        .rocket {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;

            .innerrocket {
                position: absolute;
                right: -300px;
                bottom: -100px;
                transform: rotate(16deg);
            }
        }
    }
}

// projects section end


// client section start 
.clients-box {
    background: $black;
    padding-top: 300px;
    padding-bottom: 50px;
    margin-top: 50px;
    position: relative;

    .custom-shape-divider-top {
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: 1;
        // background-color: white;

        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 300px;

            .shape-fill {
                fill: #FFFFFF;
            }
        }


    }

    .custom-shape-divider-top2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;

        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 300px;

            .shape-fill {
                fill: $orange;
            }
        }
    }

    .astroimg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;

        svg {
            // height: 300px;
        }
    }

    .toplogo {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        max-width: 1100px;
        margin: auto;
        align-items: center;
        margin-bottom: 100px;

        .l_box {
            display: grid;
            place-content: center;
            height: 120px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 2px;
                height: 100%;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
            }
        }

        .l_box:nth-child(1),
        .l_box:nth-child(6) {
            margin-top: -200px;
        }

        .l_box:nth-child(2),
        .l_box:nth-child(5) {
            margin-top: -50px;
        }

        .l_box:last-child::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 100%;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
            right: 0;
            top: -30px;
        }
    }

    .bottomlogo {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        max-width: 900px;
        margin: auto;
        align-items: center;

        .l_box {
            display: grid;
            place-content: center;
            height: 120px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 2px;
                height: 100%;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
                top: -30px;
            }

            &:nth-child(3)::before {
                top: -46px;
            }
        }


        .l_box:nth-child(1),
        .l_box:nth-child(5) {
            margin-top: -200px;
        }

        .l_box:nth-child(2),
        .l_box:nth-child(4) {
            margin-top: -100px;
        }

        .l_box:last-child::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 100%;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
            right: 0;
            top: -30px;
        }
    }

    .custom-shape-divider-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;

        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 250px;

            .shape-fill {
                fill: #000C1F;
            }
        }
    }

}

// client section end

// usps section start 
.usps {
    background: url(./images/Universe_items.png) #000C1F;
    background-size: cover;
    padding: 4vw;

    .uspscontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .uspsleft {
            .titlebox {
                .sec-title {
                    margin-bottom: 20px;
                    color: $orange;
                }

                p {
                    margin-bottom: 30px;
                    color: white;
                }
            }
        }

        .upsright {
            display: flex;
            justify-content: center;

            svg {
                width: 100%;
            }
        }
    }
}

// usps section end 

// testimonial section start 
.testimonial {
    padding: 4vw;

    .swiper {
        width: 80%;
        height: 100%;

        .revbox {
            padding: 2vw;

            p {
                font-size: 26px;
                line-height: 1.4em;
            }

            h3 {
                font-size: 35px;
                color: $orange;
                margin-top: 30px;
            }

        }

        .s_buttons {
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            gap: 20px;
            background-color: white;

            .swiper-button-next,
            .swiper-button-prev {
                position: static;
                width: 45px;
                height: 45px;
                border: 2px solid $blue;
                border-radius: 1000px;
                display: grid;
                place-content: center;
                transition: all 0.3s linear;

                &:hover {
                    width: 60px;
                }

                &::after {
                    display: none;
                }

                i {
                    color: $orange;
                    font-size: 20px;
                }
            }
        }
    }
}

// testimonial section end

// contact section start 
.contactsection {
    padding: 4vw;
    padding-top: 0;
    padding-bottom: 200px;
    overflow-y: hidden;

    .contactbox {
        border-radius: 20px;
        background: url("./images/planets.png") $blue;
        background-size: cover;
        // background-blend-mode: darken;
        padding: 4vw;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 55vw;
            height: 55vw;
            border-radius: 100%;
            border: 2px solid #FFF;
            background: linear-gradient(0deg, #002152 0.09%, #004AB8 49.92%);
            box-shadow: 1px 9px 40px 0px rgba(0, 0, 0, 0.12);
            top: -30vw;
            left: 50%;
            transform: translateX(-50%);
        }

        .titlebox {
            max-width: 50vw;
            margin: auto;

            .sec-title {
                color: white;
                font-weight: 500;
            }
        }

        .bot_astr {
            display: flex;
            justify-content: center;
            margin-top: 200px;
            margin-bottom: -200px;

            svg {
                animation: astro 4s linear infinite alternate;
            }
        }
    }
}

// contact section end 


// Service page styling -------------------------------------------------------------------------------


// service hero section style start 
.servhero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./images/soverlay.webp);
    background-position: center center;
    background-size: cover;
    height: 90vh;
    position: relative;
    overflow: hidden;

    h3 {
        text-align: center;
        color: white;
        font-size: 6vw;
        position: relative;
        z-index: 1;

        &.stroked {
            -webkit-text-stroke: 1px $orange;
            color: transparent;
        }
    }

    .hangingastro {
        position: absolute;
        top: -10px;
        left: 2vw;
        animation: hangingastro 3s ease-in-out infinite alternate;
        transform-origin: top;
    }

    .halfmoon {
        position: absolute;
        right: 0;
        height: 90%;
    }

}

.approach {
    padding-top: 4vw;

    .titlebox {
        .sec_desc {
            max-width: 700px;
            text-align: center;
            margin: auto;
            margin-top: 20px;
        }
    }

    .appr_grp {
        margin-top: 60px;
        overflow: hidden;
        padding-top: 30px;
        position: relative;

        .circle1 {
            width: 100vw;
            height: 50vw;
            border: 1px solid black;
            border-radius: 999999px 999999px 0 0;
            position: relative;

            .setcount {
                margin-bottom: -50px;
                height: 100px;
                width: 50%;
                transform-origin: right;
                animation: set1 15s linear infinite normal;
                transform: rotate(135deg);
                position: absolute;
                bottom: 0;

                &.setcont2 {
                    transform: rotate(0deg);
                    animation-delay: 4s;

                    img {
                        left: -30px;
                    }
                }

                img {
                    position: absolute;
                    left: -40px;
                    transform: rotate(45deg);
                }
            }
        }

        .circle2 {
            width: 80vw;
            height: 40vw;
            border: 1px solid black;
            border-radius: 999999px 999999px 0 0;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            .setcount {
                margin-bottom: -50px;
                height: 100px;
                width: 50%;
                transform-origin: right;
                // animation: set2 15s linear infinite normal;
                // transform: rotate(135deg);
                position: absolute;
                bottom: 0;
                border: 1px solid red;

                &.setcont2 {
                    transform: rotate(0deg);
                    animation-delay: 4s;

                    img {
                        left: -30px;
                    }
                }

                &.setcont3 {
                    transform: rotate(0deg);
                    animation-delay: 8s;

                    img {
                        left: -30px;
                    }
                }

                img {
                    position: absolute;
                    left: -40px;
                    transform: rotate(45deg);
                }
            }
        }

        .circle3 {
            width: 60vw;
            height: 30vw;
            border: 1px solid black;
            border-radius: 999999px 999999px 0 0;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .circle4 {
            width: 40vw;
            height: 20vw;
            border: 1px solid black;
            border-radius: 999999px 999999px 0 0;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: #040C1F;
            box-shadow: #040C1F 0px -7px 36px 0px, #040C1F 0px 0px 0px 1px;
        }
    }
}

.expertise {
    padding: 4vw;
    background: #000c1f url(./images/expbanner.webp);
    background-size: cover;

    .titlebox {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sec-title {
            color: white;
            display: flex;
            align-items: center;

            svg {
                width: 8vw;
            }
        }
    }

    .expsec {
        color: white;

        .singleexp {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 2vw 0;
            align-items: center;

            .expcont {
                .exsec {
                    margin-bottom: 25px;

                    h4 {
                        font-size: 2vw;
                        margin-bottom: 15px;
                    }

                    .s_list {
                        li {
                            margin-bottom: 15px;
                        }
                    }
                }
            }

            .expimg {
                .img {
                    width: 80%;
                    height: 600px;
                    background-color: red;
                    margin: auto;
                }
            }
        }
    }
}



// About page style start ----------------------------------------------------------------------------------

.abthero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: url(./images/abtbg.webp);
    // background-color: #071131;
    background-position: center center;
    background-size: cover;
    min-height: 90vh;
    position: relative;
    overflow: hidden;
    padding: 4vw;

    .abtmoon {
        position: absolute;
        top: -55px;
        left: 0;
        width: 16vw;
        transform: rotate(20deg);
    }

    .leftabt {

        h3 {
            color: white;
            font-size: 6vw;
            position: relative;
            z-index: 1;

            &.stroked {
                -webkit-text-stroke: 1px $orange;
                color: transparent;
            }
        }
    }

    .rightabt {
        margin: auto;

        .imggrid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .imgg1 {

                .img1,
                .img2 {
                    width: 10vw;
                    height: 10vw;
                    background-color: white;
                    border-radius: 100%;
                    margin-bottom: 1vw;
                }

            }

            .img3 {
                width: 11vw;
                height: 21vw;
                background-color: white;
                border-radius: 1888888888888888px;
                margin-left: 1vw;
            }
        }

    }
}

.abtdevider {
    background: linear-gradient(180deg, rgba(7, 17, 49, 1) 0%, rgba(24, 24, 24, 1) 100%);

    svg {
        width: 100%;

        &.d2 {

            margin-top: -7vw;
        }
    }
}

.abtcontent {
    background: $black url(./images/abtbg2.webp);
    padding: 15vw 4vw;
    color: white;
    position: relative;

    .titlebox {
        max-width: 60vw;
        margin: auto;

        .sec-title {
            color: $orange;
        }
    }

    .astlp {
        position: absolute;
        width: 20vw;
        bottom: -5%;

    }

    .rightpattern {
        position: absolute;
        right: 0;
        top: -10%;

        svg {
            width: 45vw;
        }
    }
}

.visionsec {
    padding: 4vw;

    .v_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 2vw 0;
        gap: 1vw;

        .mission{
            text-align: right;
        }

        .mission,.vision{
            padding-top: 3vw;
            .m_icon {
                svg {
                    width: 3vw;
                }
            }

            .m_title {
                font-size: 2vw;
                margin: 1vw 0;
                color: $orange;
            }

            .m_para{
                color: #808080;
            }
        }

        .v_img{
            svg{
                animation: vrotate 100s linear infinite normal;
            }
        }
        
        
    }
}

.numbersec{
    padding: 4vw;
    background: $blue url(./images/numberbg.webp);
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;

    .titlebox{
        .sec-title{
            color: $orange;
        }
    }

    .numberboxes{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}













// footer style start
footer {
    padding: 4vw;
    padding-bottom: 0;

    .socialbar {
        padding: 20px;

        .s_icons {
            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
            gap: 80px;

            .sicon {
                color: $orange;
                font-size: 24px;
            }
        }
    }

    .bottom_footer {
        display: flex;
        margin-top: 30px;
        position: relative;
        padding-bottom: 20px;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background: linear-gradient(270deg, rgba(24, 24, 24, 0.00) 0%, #181818 51.1%, rgba(0, 0, 0, 0.00) 100%);
            bottom: 0;
        }

        .compinfo {
            width: 50%;
            padding: 2vw;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                right: 0;
                background: linear-gradient(180deg, #181818 0%, rgba(24, 24, 24, 0.00) 110.94%);
            }
        }

        .f_links {
            width: 50%;
            display: flex;
            padding: 2vw;

            .f_serv {
                padding: 0 20px;

                h3 {
                    color: $blue;
                    font-size: 24px;
                    margin-bottom: 20px;
                }

                ul {
                    list-style: none;

                    li {
                        margin-bottom: 10px;

                        a {
                            color: #4D4D4D;
                        }
                    }
                }
            }
        }
    }

    .c_footer {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            gap: 30px;
            list-style: none;

            li a {
                color: #4D4D4D;
            }
        }
    }
}

// footer style end


// keyframes start

@keyframes earth {
    from {
        -webkit-transform: rotateZ(0deg);
    }

    to {
        -webkit-transform: rotateZ(360deg);
    }
}


@keyframes earth-rotate {
    from {
        -webkit-transform: rotateZ(360deg);
    }

    to {
        -webkit-transform: rotateZ(0deg);
    }
}

@keyframes astro {
    0% {
        transform: translate(-30px, -30px);
    }

    100% {
        transform: translate(30px, 30px);
    }
}

@keyframes hangingastro {
    0% {
        transform: rotate(-20deg);

    }

    100% {
        transform: rotate(10deg);
    }
}

@keyframes set1 {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(185deg);
    }
}

@keyframes set2 {
    0% {
        transform: rotate(185deg);

    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes vrotate {
    100%{
        transform: rotate(360deg);
    }
}


// keyframes end 


// Media queries

@media only screen and (max-width: 900px) {

    .topheader {
        position: relative;

        .navmneu {
            display: none;
            position: absolute;
            width: 100%;
            flex-direction: column;
            left: 0;
            min-height: calc(100vh - 70px);
            padding: 40px 0;
            background-color: black;
            top: 70px;
            z-index: 99;
            justify-content: center;

            .nalink {
                list-style: none;

                a {
                    color: white;
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .navtext {
                        opacity: 1;
                        transition: all 0.3s linear;
                        font-size: 20px;
                    }

                    .navico {
                        position: static;
                        transform: none;
                    }
                }

                &:hover {

                    a {
                        .navico {
                            transform: none;
                        }

                        .navtext {
                            opacity: 1;
                        }
                    }
                }
            }

            &.navopen {
                display: flex;
            }
        }

        .hamburger {
            display: block;
        }
    }
}